.jumbotron,
.card-body,
.container,
.site-header {
    font-family: 'Raleway', serif !important;
}

.jumbotron .display-4 {
    font-weight: bold;
}

nav a {
    text-decoration: none;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.jumbotron {
    height: 50vh;
    padding: 5em inherit;
    margin-bottom: 0;
    background-color: #53c0fb;
    background: url('../img/cover_back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    font-weight: bold;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}
@media (max-width: 650px) {
    .jumbotron {
        background-position: inherit;
        width: 100%;
        background-size: cover;
        height: 16vh;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
    font-size: 38px;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: 0.25rem;
}

.site-header a {
    color: white;
    transition: ease-in-out color 0.15s;
}

.site-header .dropdown-menu a {
    color: black;
}

.dropzone {
    border: 2px dashed #0087f7;
    border-radius: 5px;
    background: white;
}

.img-fit {
    max-height: 100%;
}

.alert {
    position: fixed;
    top: 80px;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
}

.cursor-active {
    cursor: pointer;
}

.left {
    float: left;
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

#spinner-wrapper {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1021;
    display: none;
}

main {
    min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
    color: inherit;
    text-decoration: inherit;
}

.checked {
    color: orange;
}

.titulo {
    text-align: center;
    margin-top: 1.5rem;
}

.des {
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: 500;
}

.container-login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
    background-color: rgba(255, 255, 255);
    text-align: center;
    box-shadow: 3px 3px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
        sans-serif;
    max-width: 70%;
}

.input-incial {
    margin: 10px;
    border-radius: 13px;
    text-align: center;
    border-width: 0.1rem;
    border-color: green;
    height: 50px;
}

input:hover {
    box-shadow: 3px 3px 5px;
    -webkit-transition: 0.2s;
}

.form button {
    width: 100%;
    border: 0;
    padding: 5px;
    font-size: 25px;
    cursor: pointer;
    background-color: #49b0ad;
    margin-top: 30px;
}

.form button:hover {
    -webkit-transition: 0.5s;
    background-color: #066b5a;
}

.precio-auto {
    font-size: 1rem;
    background-color: #066b5a;
    max-width: fit-content;
    color: white;
    position: relative;
    border-radius: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
}

.sortFast {
    max-width: 20%;
}

/* .failed {
  border-color: red;
  margin: 10px;
  border-radius: 13px;
  text-align: center;
  border-width: 0.1rem;
  height: 50px;
} */

.dropbtn {
    background-color: #212529;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #212529;
    padding: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.checked {
    color: orange;
}

.new-comment {
    background-color: #066b5a;
    color: #fff;
    margin: auto;
    margin-top: 20px;
    padding: 15px 30px;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 3px 3px 20px;
    max-width: fit-content;
}

.comm-textarea {
    resize: none;
    height: 130px;
    width: 100%;
    outline: none;
    padding: 10px;
    background: darkgray;
    border-radius: 5px;
}

.btn-comment {
    width: 100%;
    border: 0;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    background-color: #49b0ad;
    margin-top: 30px;
}

.select {
    width: 50%;
    background: #49b0ad;
    border: 1px solid black;
    border-radius: 4px;
}

.pic-container {
    background-color: #777;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#profileImage {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    cursor: pointer;
}
